// Header styling

.contact-header{
    background: url(../harper-assets/contact-image-1.jpg);
    height: 50vh;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
        h2{
            position: absolute;
            top: 43.5vh;
            font-size: 65px;
        }
}

// Main styling

.contact-main{
    padding: 100px 0;
    background: $accent-grey;
        .contact-flex-container{
            display: flex;
            justify-content: space-between;
            .form{
                width: 72%;
                padding-left: 20px;
            }
        }
    }
    
.contact-main aside{
    width: 27%;
    background: white;
    padding: 45px 30px;
    line-height: 1.75;
    min-width: 225px;
        .icons{
            display: flex;
                a{
                    padding-right: 28px;
                        i{
                            color: $accent-dark-blue;
                            font-size: 28px;
                            transition: all .3s ease-in-out;
                        }
                }    
        }
        span{
            font-weight: bold;
            font-family: $primary-font;
            font-size: 22px;
            letter-spacing: 1px;
            display: block;
            padding: 15px 0;
        }
}
// Media Queries

@media(max-width: 1200px){

.contact-main aside{    
    .icons{
        i{
            font-size: 20px;
            padding-right: 20px;
        }
    }
    p{
        font-size: 16px;
    }
}

}

@media(max-width: 675px){
    .contact-main{
        .contact-flex-container{
            flex-wrap: wrap;
                .form{
                    width: 100%;
                    padding-left: 0;
                }
        }
    }

    .contact-main aside{
        width: 100%;
        padding: 30px 30px;
        margin-bottom: 20px;
    }
}

@media(max-width:450px){
    .contact-main{
        padding: 65px 0;
    }
    
    .contact-header{
        h2{
            font-size: 15vw;
        }
    }

    .contact-main aside{
        .icons{
            i{
                font-size: 24px;
            }
        }
    }
}
