// General

nav li:hover{
    transform: scale(1.25);
    border-bottom: white 1px solid;
}

nav a:active{
    color: white;
}

.hamburger-menu a:hover{
    transform: scale(1.25);
    border-bottom: $accent-medium-blue 3px solid;
}

main button:hover{
    background: $hover-button;
    border-radius: 3px;
}

main button:active{
    background: $accent-button;
}

form input:focus{
    outline: 2px solid $focus;
}

// Home page

.gallery img:hover{
    transform: scale(1.05);
}

// Blog page

// Contact page

.contact-main aside{
    .icons{
        i:hover{
            transform: scale(1.2);
        }
    }
}

// Hamburger menu


#toggle:checked ~ .hamburger-menu{
    display: block;
    transform: none;
}

.hamburger-menu a:active ~ .hamburger-menu{
    display: none;
}