*,
*:before, 
*:after{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: $primary-font;
    text-transform: uppercase;
    color: $accent-black;
}

html,
body{
    overflow-x: hidden;
}

img{
    height: auto;
    width: 100%;
    display: block;
}

.wrapper{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

header label{
    display: none;
    position: absolute;
    top: 0;
    right: 5vw;
    font-size: 50px;
    z-index: 100;
}

header input{
    display: none;
}

h1{
    font-size: 140px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 32px;
}

h4{
    font-size: 24px;
}

h1,
h2,
h3, 
h4{
    letter-spacing: 1px;
}

li{
    list-style: none;
}

a{
    color: $accent-black;
    text-decoration: none;
}

input,
p{
    font-family: $secondary-font;
    text-transform: none;
    font-size: 18px;
}

button{
    background: $accent-button;
    border: none;
    text-transform: uppercase;
    padding: 8px 30px;
    font-size: 20px;    
    margin-top: 18px;
}