// Fonts
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Cabin', sans-serif;

// Colours
$primary-blue: #b9dde7;
$accent-medium-blue: #68b0c1;
$accent-dark-blue: #227284;
$accent-grey: #f6f6f6;
$accent-button: #f38d8d;
$accent-black: #171717; 
$hover-button: #f37171;
$focus: #d8d3d3;
